<header class="page-header">
    <h1>{{title}}</h1>
</header>

<nav>
    <ul class="list-group">
        {{#articles}}
        <li class="list-group-item"><a href="{{href}}">{{title}}</a>
        {{/articles}}
    </ul>
</nav>
