<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{{theme}}.css" />
</head>

<body>
    <main class="container">
        {{> content}}
    </main>
</body>

</html>
