<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootswatch/3.0.1/{{theme}}/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="//highlightjs.org/static/styles/{{highlightTheme}}.css" />

    <style type="text/css">
      /*
       * Undo Bootstrap's padding and border-radius,
       * as they conflict with highlight.js
       */
      pre {
        padding: 0;
        border-radius: 0;
      }
    </style>
</head>

<body>
    <main class="container">
        {{> content}}
    </main>
</body>

</html>
